/Users/juneee/Desktop/JUNPository/42Seoul/42cursus/get_next_line/testing_area/gnlTester
/Users/juneee/Desktop/JUNPository/42Seoul/42cursus/get_next_line/testing_area/gnl-tester
/Users/juneee/Desktop/JUNPository/42Seoul/42cursus/get_next_line/testing_area/42test-gnl-station-2022